<div class="form-group">
    <label for="name">Username</label>
    <input value="<%= article.username %>" type="text" name="username" id="name" class="form-control" autocomplete="off">
</div>

<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control" autocomplete="off">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea required name="originalDesc" id="description" class="form-control">
        <%= article.originalDesc %>
    </textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control">
        <%= article.markdown %>
    </textarea>
</div>

<a href="/" class="btn btn-secondary" onclick="mouseClickIndex('<%= activeLikeBtns %>','<%= article._id %>')">Cancel</a>
<button type="submit" class="btn btn-primary" onclick="mouseClickShow('<%= activeLikeBtns %>','<%= article._id %>')">Save</button>

