<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/form.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>

    <title>Edit Blog</title>
</head>
<body>
    <div class="container mt-4 mb-2">
        <h1 class="mb-4">Edit Article</h1>
        <form action="/articles/<%= article._id %>?_method=PUT" method="POST" id="form" onsubmit="return validation('<%= activeLikeBtns %>','<%= article._id %>')">
            <%- include('_form_fields') %>       <!-- _form common to required pages -->
        </form>
    </div>
    <br><br>
    <%- include('_footer') %>       <!-- _footer common to all pages -->
    <script src="/scripts/form.js"></script>
</body>
</html>

