<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/show.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>

    <title>Read More</title>
</head>
<body onload="refreshPg('<%= activeLikeBtns %>','<%= article._id %>')">
    <div class="container mt-4">
        <div class="row">
            <div class="col"><h1><%= article.title %></h1></div>
            <div class="col-1 text-right font-italic mt-4 createdAt">
                <%= article.displayDate %>
                <span>createdAt</span>
            </div>
        </div>

        <hr>
        <h5 class="card-title mb-4 mt-4">
            <%= article.username %> &#128102;&#127995;
            <span>editor</span>
        </h5>
        <div class="card-text mb-4" id="desc"><%- article.modifiedDesc %></div>
        <hr>

        <a href="/" class="btn btn-secondary" onclick="mouseClickIndex('<%= activeLikeBtns %>','<%= article._id %>')">All Articles &#128218;</a>
        <a href="/articles/edit/<%= article._id%>" class="btn btn-info" onclick="mouseClickEdit('<%= activeLikeBtns %>','<%= article._id %>')">Edit &#128221;</a>
        <a href="#" class="likeBtn" id="like2"
            onmouseover="mouseOverLike()"
            onmouseout="mouseOutLike()"
            onclick="mouseClickLike('<%= activeLikeBtns %>','<%= article._id %>')"
        >
            <img src="/graphics/likebtns/heart-empty.png" id="heart">
            &nbsp;<p class="d-inline"><%= article.likes %></p>
            <span>like</span>
        </a>

        <div class="mt-5" id="md">
            <%- article.sanitizedHtml %>
            <span>markdown</span>
        </div>
    </div>
    <br><br>
    <%- include('_footer') %>       <!-- _footer common to all pages -->
    <script src="/scripts/show.js"></script>
</body>
</html>

